<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Google font-->
    <link rel="stylesheet" href="../public/css/style.css"> <!--Archivo CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> <!--Usar icons-->
<script src="https://kit.fontawesome.com/9ff4ec337d.js" crossorigin="anonymous"></script> <!--Usar icons-->
</head>


<body>
    <header>
        <section class="upper">
        <div class="upperTitle">
            <a href="../views/home.html"><img src="../public/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo"></a>
            <div class="search">
                <input type="text" placeholder="Buscar productos, marcas y más">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
            <div class="compras">
                <h2><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta</h2>
            </div>
        </section>

        <div class="burger-menu">
            <a href=""> <i class="fas fa-bars"></i> </a>
        </div>

        <nav class="nav-bar">
            <ul class="nav-bar-left">
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>
            <ul class="nav-bar-right">
                <li> <a href="../views/register.html">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>  </li> 
                <li> <a href="../views/login.html">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a> </li>
                <li> <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a> </li>
            </ul>
        </nav>
        

    </header>

    <section class="banner">
        <img src="../public/images/img-home-banner.jpg" alt="Banner MercadoLiebre">
   </section>


    <main>
        <div>
        <h2 class="holders">Basado en tu última visita</h2>
        <section class="products">

            

            <article class="product-item">
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">
                <div class="product-detail">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fa-regular fa-circle fa-stack-2x green"></i>
                        <i class="fa-solid fa-truck fa-stack-1x green"></i>
                    </span>
                    <div class="product-price">
                        <p class="price">$6.700</p>
                        <p class="discount">40% off</p>
                    </div>
                    <h3 class="detail">Cafetera Moulinex</h3>
                </div>
                
            </article>

            <article class="product-item">
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <div class="product-detail">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fa-regular fa-circle fa-stack-2x green"></i>
                        <i class="fa-solid fa-truck fa-stack-1x green"></i>
                    </span>
                    <div class="product-price">
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                    </div>
                    <h3 class="detail">MacBook Pro 2019</h3>
                </div>
            </article>

            <article class="product-item">
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-detail">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fa-regular fa-circle fa-stack-2x green"></i>
                        <i class="fa-solid fa-truck fa-stack-1x green"></i>
                    </span>
                    <div class="product-price">
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    </div>
                    <h3 class="detail">Samsung Galaxy S10</h3>
                </div>
            </article>

            <article class="product-item">
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV">
                <div class="product-detail">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fa-regular fa-circle fa-stack-2x green"></i>
                        <i class="fa-solid fa-truck fa-stack-1x green"></i>
                    </span>
                    <div class="product-price">
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                    </div>
                    <h3 class="detail">SmartTV Samsung 43"</h3>
                </div>
            </article>
        
        </section>
    </div>

    <div>
        <h2 class="holders">Sección de Ofertas</h2>
        <section>

            

            <article class="product-item">
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">
                <div class="product-detail">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fa-regular fa-circle fa-stack-2x green"></i>
                        <i class="fa-solid fa-truck fa-stack-1x green"></i>
                    </span>
                    <div class="product-price">
                        <p class="price">$6.700</p>
                        <p class="discount">40% off</p>
                    </div>
                    <h3 class="detail">Cafetera Moulinex</h3>
                </div>
                
            </article>

            <article class="product-item">
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                <div class="product-detail">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fa-regular fa-circle fa-stack-2x green"></i>
                        <i class="fa-solid fa-truck fa-stack-1x green"></i>
                    </span>
                    <div class="product-price">
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                    </div>
                    <h3 class="detail">MacBook Pro 2019</h3>
                </div>
            </article>

            <article class="product-item">
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-detail">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fa-regular fa-circle fa-stack-2x green"></i>
                        <i class="fa-solid fa-truck fa-stack-1x green"></i>
                    </span>
                    <div class="product-price">
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    </div>
                    <h3 class="detail">Samsung Galaxy S10</h3>
                </div>
            </article>
76
            <article class="product-item">
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV">
                <div class="product-detail">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fa-regular fa-circle fa-stack-2x green"></i>
                        <i class="fa-solid fa-truck fa-stack-1x green"></i>
                    </span>
                    <div class="product-price">
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                    </div>
                    <h3 class="detail">SmartTV Samsung 43"</h3>
                </div>
            </article>

        </section>
    </div>

    </main>


    <footer>
        <div class="payments">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="payments">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="payments">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <p class="legal">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        

    </footer>
    
</body>
</html>